<h2>Grid</h2>
<div class="group-box">
  <div class="option-box">
    <label>width:</label>
    <input type="text" placeholder="auto" [(ngModel)]="controlOption.width" (ngModelChange)="onChangeOption({ width: $event })">
  </div>
  <div class="option-box">
    <label>height:</label>
    <input type="text" placeholder="auto" [(ngModel)]="controlOption.height" (ngModelChange)="onChangeOption({ height: $event })">
  </div>
  <div class="option-box">
    <label>containLabel</label>
    <input type="checkbox" [(ngModel)]="controlOption.containLabel" (ngModelChange)="onChangeOption({ containLabel: $event })">
  </div>
  <div class="option-box">
    <label>그리드 보기</label>
    <input type="checkbox" [(ngModel)]="controlOption.show" (ngModelChange)="onChangeOption({ show: $event })">
  </div>
</div>
