<h2>Tooltip</h2>
<div class="group-box">
  <div class="option-box">
    <label>툴팁 보이기</label>
    <input type="checkbox" (ngModelChange)="onChangeOption({ show: $event })" [(ngModel)]="controlOption.show">
  </div>
  <div class="option-box">
    <label>Trigger 타입</label>
      item: <input type="radio" name="trigger" value="item" (ngModelChange)="onChangeOption({ trigger: $event })" [(ngModel)]="controlOption.trigger">
      axis: <input type="radio" name="trigger" value="axis" (ngModelChange)="onChangeOption({ trigger: $event })" [(ngModel)]="controlOption.trigger">
      none: <input type="radio" name="trigger" value="none" (ngModelChange)="onChangeOption({ trigger: $event })" [(ngModel)]="controlOption.trigger">
  </div>
  <div class="option-box">
    <label>padding</label>
    <input type="number" (ngModelChange)="onChangeOption({ padding: $event })" [(ngModel)]="controlOption.padding">
  </div>
  <div class="option-box">
    <label>backgroundColor</label>
    <input type="string" (ngModelChange)="onChangeOption({ backgroundColor: $event })" [(ngModel)]="controlOption.backgroundColor">
  </div>
  <div class="option-box">
    <label>borderWidth</label>
    <input type="number" (ngModelChange)="onChangeOption({ borderWidth: $event })" [(ngModel)]="controlOption.borderWidth">
  </div>
  <div class="option-box">
    <label>borderColor</label>
    <input type="string" (ngModelChange)="onChangeOption({ borderColor: $event })" [(ngModel)]="controlOption.borderColor">
  </div>
  <div class="option-box">
    <label>Transition Duration</label>
    <input type="number" (ngModelChange)="onChangeOption({ transitionDuration: $event })" [(ngModel)]="controlOption.transitionDuration">
  </div>

  <h3>AxisPointer</h3>
  <div class="option-box">
    <label>type</label>
      line: <input type="radio" name="axisPointerType" value="line" (ngModelChange)="onChangeAxisPointerOption({ type: $event })" [(ngModel)]="controlOption.axisPointer.type">
      shadow: <input type="radio" name="axisPointerType" value="shadow" (ngModelChange)="onChangeAxisPointerOption({ type: $event })" [(ngModel)]="controlOption.axisPointer.type">
      cross: <input type="radio" name="axisPointerType" value="cross" (ngModelChange)="onChangeAxisPointerOption({ type: $event })" [(ngModel)]="controlOption.axisPointer.type">
      none: <input type="radio" name="axisPointerType" value="none" (ngModelChange)="onChangeAxisPointerOption({ type: $event })" [(ngModel)]="controlOption.axisPointer.type">
  </div>

  <h3>AxisPointer LineStyle</h3>
  <div class="option-box">
    <label>색상</label>
    <input type="color" (ngModelChange)="onChangeAxisPointerOption({ lineStyle: { color: $event }})" [(ngModel)]="controlOption.axisPointer.lineStyle.color">
  </div>
  <div class="option-box">
    <label>선 두께</label>
    <input type="number"  (ngModelChange)="onChangeAxisPointerOption({ lineStyle: { width: $event }})" [(ngModel)]="controlOption.axisPointer.lineStyle.width">
  </div>
  <div class="option-box">
    <label>선 스타일</label>
    solid: <input type="radio" value="solid" name="lineStyleType" (ngModelChange)="onChangeAxisPointerOption({ lineStyle: { type: $event }})" [(ngModel)]="controlOption.axisPointer.lineStyle.type">
    dashed: <input type="radio" value="dashed" name="lineStyleType" (ngModelChange)="onChangeAxisPointerOption({ lineStyle: { type: $event }})" [(ngModel)]="controlOption.axisPointer.lineStyle.type">
    dotted: <input type="radio" value="dotted" name="lineStyleType" (ngModelChange)="onChangeAxisPointerOption({ lineStyle: { type: $event }})" [(ngModel)]="controlOption.axisPointer.lineStyle.type">
  </div>
  <div class="option-box">
    <label>opacity</label>
    <input type="number" step="0.1" (ngModelChange)="onChangeAxisPointerOption({ lineStyle: { opacity: $event }})" [(ngModel)]="controlOption.axisPointer.lineStyle.opacity">
    <input type="range" min="0" max="1" step="0.01" (ngModelChange)="onChangeAxisPointerOption({ lineStyle: { opacity: $event }})" [(ngModel)]="controlOption.axisPointer.lineStyle.opacity">
  </div>

  <h3>AxisPointer ShadowStyle</h3>
  <div class="option-box">
    <label>색상</label>
    <input type="color" opacity (ngModelChange)="onChangeAxisPointerOption({ shadowStyle: { color: $event }})" [(ngModel)]="controlOption.axisPointer.shadowStyle.color">
  </div>
  <div class="option-box">
    <label>blur</label>
    <input type="number" (ngModelChange)="onChangeAxisPointerOption({ shadowStyle: { shadowBlur: $event }})" [(ngModel)]="controlOption.axisPointer.shadowStyle.shadowBlur">
  </div>
  <div class="option-box">
    <label>opacity</label>
    <input type="number" step="0.1" (ngModelChange)="onChangeAxisPointerOption({ shadowStyle: { opacity: $event }})" [(ngModel)]="controlOption.axisPointer.shadowStyle.opacity">
    <input type="range" min="0" max="1" step="0.01" (ngModelChange)="onChangeAxisPointerOption({ shadowStyle: { opacity: $event }})" [(ngModel)]="controlOption.axisPointer.shadowStyle.opacity">
  </div>

</div>
