<h2>series</h2>

<div class="group-box">
  <div class="option-box">
    <label>차트타입</label>

    bar: <input type="radio" name="chartType" value="bar" [(ngModel)]="seriesType">
    line: <input type="radio" name="chartType" value="line" [(ngModel)]="seriesType">
  </div>
  <div class="option-box">
    <label>seriesName</label>
    <input type="text" placeholder="이름입력" [(ngModel)]="seriesName">
  </div>
  <div class="option-box">
    <label>itemColor</label>
    <input type="color" placeholder="색상" [(ngModel)]="seriesColor">
  </div>
  <div class="option-box">
    <label>seriesData</label>
    <textarea placeholder="입력" [(ngModel)]="seriesData"></textarea>
  </div>

  <button (click)="createSeries()">생성</button>
</div>

<div style="display: flex;">
  <app-series-element-controller
    *ngFor="let s of series; let i=index"
    [seriesOption]="s"
    (edit)="onEditSeries($event, i)"
  ></app-series-element-controller>
</div>

