<h2>Y축 설정</h2>

<div class="group-box">
  <div class="option-box">
    <label>축 타입</label>
    category: <input type="radio" name="yAxisType" value="category" (ngModelChange)="onChangeOption({ type: $event })" [(ngModel)]="controlOption.type">
    value: <input type="radio" name="yAxisType" value="value" (ngModelChange)="onChangeOption({ type: $event })" [(ngModel)]="controlOption.type">
  </div>
  <div class="option-box">
    <label>보이기</label>
    <input type="checkbox" (ngModelChange)="onChangeOption({ show: $event })" [(ngModel)]="controlOption.show">
  </div>

  <div class="option-box">
    <div>labels</div>
    <textarea (ngModelChange)="onChangeLabels($event)" [(ngModel)]="controlOption.data"></textarea>
  </div>

  <div class="option-box">
    <label>boundaryGap</label>
    <input type="checkbox" (ngModelChange)="onChangeOption({ boundaryGap: $event })" [(ngModel)]="controlOption.boundaryGap">
  </div>

  <div class="option-box">
    <label>offset</label>
    <input type="number" (ngModelChange)="onChangeOption({ offset: $event })" [(ngModel)]="controlOption.offset">
  </div>

  <div class="option-box">
    <label>split Number</label>
    <input type="number" (ngModelChange)="onChangeOption({ splitNumber: $event })" [(ngModel)]="controlOption.splitNumber">
  </div>

  <h3>axisLine</h3>
  <div class="option-box">
    <label>axisLine 보이기</label>
    <input type="checkbox" (ngModelChange)="onChangeAxisLineOption({ show: $event })" [(ngModel)]="controlOption.axisLine.show">
  </div>
  <div class="option-box">
    <label>색상</label>
    <input type="color" (ngModelChange)="onChangeAxisLineOption({ lineStyle: { color: $event }})" [(ngModel)]="controlOption.axisLine.lineStyle.color">
  </div>

  <h3>axisLabel</h3>
  <div class="option-box">
    <label>라벨 보이기</label>
    <input type="checkbox" (ngModelChange)="onChangeAxisLabelOption({ show: $event })" [(ngModel)]="controlOption.axisLabel.show">
  </div>
  <div class="option-box">
    <label>라벨 interval</label>
    <input type="number" (ngModelChange)="onChangeAxisLabelOption({ interval: $event })" [(ngModel)]="controlOption.axisLabel.interval">
  </div>
  <div class="option-box">
    <label>라벨 첫번째 무조건 보이기</label>
    <input type="checkbox" (ngModelChange)="onChangeAxisLabelOption({ showMinLabel: $event })" [(ngModel)]="controlOption.axisLabel.showMinLabel">
  </div>
  <div class="option-box">
    <label>라벨 마지막 무조건 보이기</label>
    <input type="checkbox" (ngModelChange)="onChangeAxisLabelOption({ showMaxLabel: $event })" [(ngModel)]="controlOption.axisLabel.showMaxLabel">
  </div>
  <div class="option-box">
    <label>색상</label>
    <input type="color" (ngModelChange)="onChangeAxisLabelOption({ color: $event })" [(ngModel)]="controlOption.axisLabel.color">
  </div>
  <div class="option-box">
    <label>axisLabel 폰트 크기 조절</label>
    <input type="number" (ngModelChange)="onChangeAxisLabelOption({ fontSize: $event })" [(ngModel)]="controlOption.axisLabel.fontSize">
  </div>
  <div class="option-box">
    <label>axisLabel margin 조절</label>
    <input type="number" (ngModelChange)="onChangeAxisLabelOption({ margin: $event })" [(ngModel)]="controlOption.axisLabel.margin">
  </div>

  <h3>axisTick</h3>
  <div class="option-box">
    <label>axisTick 보이기</label>
    <input type="checkbox" (ngModelChange)="onChangeAxisTickOption({ show: $event })" [(ngModel)]="controlOption.axisTick.show">
  </div>
  <div class="option-box">
    <label>axisTick 라벨로 정렬</label>
    <input type="checkbox" (ngModelChange)="onChangeAxisTickOption({ alignWithLabel: $event })" [(ngModel)]="controlOption.axisTick.alignWithLabel">
  </div>
  <div class="option-box">
    <label>axisTick 길이 조절</label>
    <input type="number" (ngModelChange)="onChangeAxisTickOption({ length: $event })" [(ngModel)]="controlOption.axisTick.length">
  </div>
  <div class="option-box">
    <label>axisTick 색상 조절</label>
    <input type="color" (ngModelChange)="onChangeAxisTickOption({ lineStyle: { color: $event }})" [(ngModel)]="controlOption.axisTick.lineStyle.color">
  </div>

  <h3>splitLine</h3>
  <div class="option-box">
    <label>splitLine 보이기</label>
    <input type="checkbox" (ngModelChange)="onChangeSplitLineOption({ show: $event })" [(ngModel)]="controlOption.splitLine.show">
  </div>
  <div class="option-box">
    <label>splitLine 반복 범위</label>
    <input type="number" (ngModelChange)="onChangeSplitLineOption({ interval: $event })" [(ngModel)]="controlOption.splitLine.interval">
  </div>

  <div class="option-box">
    <label>splitLine 색상 조절</label>
    <input type="color" (ngModelChange)="onChangeSplitLineOption({ lineStyle: { color: $event }})" [(ngModel)]="controlOption.splitLine.lineStyle.color">
  </div>
</div>
